In [1]:
import pandas as pd

In [48]:
def greet(first_name, last_name):
    print(f'Hi {first_name} {last_name}')
    print('Welcome Abroad')
    return greet

In [49]:
def get_greeting(name):
    return f'Hi {name}'

message = get_greeting('Ubair')

In [50]:
message

'Hi Ubair'

In [51]:
import pandas as pd

# Sample DataFrame
data = pd.DataFrame({
    'A': ['A1', 'A2', 'A3', 'A4', 'A5'],
    'B': ['B1', 'B2', 'B3', 'B4', 'B5'],
    'C': ['C1', 'C2', 'C3', 'C4', 'C5']
})

In [54]:
data

    A   B   C
0  A1  B1  C1
1  A2  B2  C2
2  A3  B3  C3
3  A4  B4  C4
4  A5  B5  C5

In [55]:

# Syntax: df = df.drop('ColumnName', axis=1)


# Drop column 'B'
df = data.drop('B', axis=1)
print(df)

    A   C
0  A1  C1
1  A2  C2
2  A3  C3
3  A4  C4
4  A5  C5

In [57]:
df = data.drop(columns=['B']).columns

In [47]:
df

Index(['A', 'C'], dtype='object')

In [110]:
def happy_birthday(name, age):
   return (f'happy birthday to {name}!', 'you are', {age}, )

print(happy_birthday('Joe'), ('15'))

TypeError: happy_birthday() missing 1 required positional argument: 'age'